body{
    padding: 0px;
    margin: 0px;
    padding-top: 55px;
    background-color: #377acc;
    background-image: url(media/felho.png);
    background-size: 400px;
    overscroll-behavior: none;
}

@font-face {
    font-family: 'Pixel';
    src: url(fonts/PressStart2P.ttf);
}

@font-face {
    font-family: 'Cafe';
    src: url(fonts/cafe/Comfortaa-Regular.ttf);
}

h1, h2, #navtitle{
    font-family: 'Pixel', 'Arial Narrow', Arial, sans-serif;
    color:#2f2f32;
}

h1{
    text-shadow: 5px 5px #756010;
    color:#fbe904;
}

h2{
    font-size: 1.9rem;
}

h3{
    font-weight: bold;
}

p, a, li, h3, h4, label, button, q, td, th, caption, figcaption{
    font-family: 'Cafe','Arial Narrow', Arial ,sans-serif;
    color: #2f2f32;
}

p{
    text-align: justify;
}

a{
    color: #a11616;
    /* text-shadow: 1px 1px #756010; */
}

a:hover{
    color: rgb(244, 88, 88);
    text-shadow: none;
    font-weight: bold;
}

a:active{
    color:#a11616
}

a:visited{
    color: #ab9365;
}

img{
    width: 25%;
}

a img{
    width: 100%;
}

textarea{
    resize: none;
}

button{
    background-color: #2f2f32;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
}

button:active{
    background-color: #8a8a8a;
}

button:hover{
    background-color: #555;
}

.body{
    width: 90%;
    /* background-color: #fffefc; */
    background-color: white;
    margin: auto;
    padding: 20px 40px;
    padding-top: 50px;
    overflow: auto;
}

.trans{
    background-color: #00000000;
}

.fleft ,.fright{
    margin: 0px 20px 20px 20px;
    width: 250px;
}

.sztori{
    padding: 20px 40px;
    background-color: #cab79e;
    overflow: auto;
}

.sztori p{
    display: block;
    padding: 5px;
}

caption{
    caption-side: top;
    background-color: #ffd1c8;
    text-align: center;
}

details{
    background-color:#ffd1c8;
    margin: 0px;
}

details p{
    text-align: center;
}

thead{
    background-color:#ffd1c8;
    text-align: center;
}

tr:nth-of-type(even){
    background-color: #e4e4e4;
}

td{
    text-align: center;
}

td, th{
    padding: 5px;
}

/* Header */
.header{
    background-image: url(media/cover.png);
    position: relative;
    height: 450px;
}

.quote{
    background-color: #fff;
    min-width: 200px;
    text-align: center;
    padding: 10px 20px 0px 20px;
    position: absolute;
    right: 150px;
    bottom: -30px;
    box-shadow: 5px 5px 10px #0000001e;
}

.bemutatkozas{
    background-color: #fff;
    width: 560px;
    text-align: center;
    padding: 10px 20px 0px 20px;
    position: absolute;
    left: 200px;
    bottom: -50px;
    box-shadow: 5px 5px 10px #0000001e;
}

.quote>p{
    text-align: right;
}

.header>h1{
    position: absolute;
    left: 60px;
    bottom: 10px;
}

.quote p{
    color: #8a8a8a;
    margin-top: 10px;
}

#tartalomraugras a{
    position: fixed;
    top: 80px;
    left: -9999px;
    background-color: #fff;
    width: 250px;
    z-index: 3;
    text-align: center;
}

#tartalomraugras a:focus{
    left: 20px;
}


/*Nav*/
#navid{
    background-color: rgb(255, 41, 41);
    margin: 0px;
}

#navid button:hover{
    background-color: rgb(255, 41, 41);
}

.nav-item > a:link, .nav-item > a:visited{
    color: #fff;
    text-shadow: none;
}

#navtitle{
    font-size: 1.5rem;
    /* font-size: 0.4rem; */
}

#navtitle:link, #navtitle:visited{    
    color:#fbe904;
}

.nav-item a.current{
    color: #fbe904;
    font-weight: bold;
}

.nav-item a.current:hover, .nav-item a.current:active{
    color:#fff9a1;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 56;
  color: #fff;
} */


/* Articles */
article{
    margin: 15px 0px;
}


/* Footer */
footer{
    background-image: url(media/footer.png);
    clear: right;
    padding: 30px;
    line-height: 2;
}

footer p ,footer q{
    color: #a5a5a5;
}

.footerdiv{
    margin: auto;
}

footer img{
    width: 60px;
    float:right;
}

#nagybetus{
    margin: auto;
    display: block;
}

/* .c1{
    text-align: right;
}

.c2{
    text-align: left;
} */

/* Elso oldal */

/* Form */
#formdiv{
    margin: 40px auto;
    width: 100%;
    text-align: center;
}

#formdiv h2{
    color: red;
}

#formdiv>form{
    z-index: 3;
    width: 95%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0px 0px 10px #0000001e;
    border-radius: 20px 0px 20px 0px; */
}

.utazas{
    text-align: left;
}

label.inp{
    font-weight: bold;
    padding: 10px;
}

button.btn{
    background-color: #377acc;
    color: #fff;
    margin: 20px;
}

#teszt{
    background-color: #b0d0f8;
    padding: 40px;
    margin: 40px auto;
    text-align: center;
}

#teszt p{
    font-size: 1.5rem;
    color: #377acc;
}

#teszt a{
    font-size: 1.8rem;
    color: #fff;
}

#teszt img{
    display: block;
    width: 250px;
    margin: auto;
}

#fulesbagoly{
    clear: both;
}

/* Második oldal */
#bpgomaps .container-fluid{
    padding: 0px;
}

.maps{
    background-color: #e4e4e4;
    /* padding: 20px 20px 5px 20px;
    margin: 10px 0px; */
}

.metro{
    margin-top: 20px;
}

#hajovid{
    width: inherit;
    margin: auto;
}

#hajodiv{
    margin: auto;
    width: 600px;
}

#troli{
    background-color: #ffc5c5;
    /* border: red solid 2px; */
    /* border-radius: 10px; */
    padding: 20px;
    height: 100%;
    text-align: center;
}

#troli p{
    padding: 20px;
    line-height: 2;
}

#troli img, #troli p{
    margin: auto;
}

#troli img{
    width: 80px;
    display: block;
    margin-top: 30px;
}

#troli a{
    background-color: #a11616;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}


/* Harmadik oldal */
.foart{
    overflow: auto;
    background-color: #e4e4e4;
    padding: 20px;
}

.foart img{
    margin: 0px;
    margin-right: 40px;
}

.foart div{
    margin: 20px;
}

.foart:nth-of-type(2){
    margin-top: 40px;
}

.blaha{
    margin-top: 50px;
}

.program{
    border-left: #e4e4e4 solid 2px;
    border-right: #e4e4e4 solid 2px;
    padding: 0px 30px;
}

#szorakozo{
    width: 370px;
}

/* Negyedik oldal */
.kialakimg{
    width: 50%;
}

 /* Video leiras */
 .body.xhtml{
    width: 80%;
}


/* Reszponzivitás */
@media (max-width: 300px){
    .header h1{
        font-size: 1rem;
    }
}


@media (max-width: 767px){
    body{
        padding-top: 35px;

    }
    
    .body{
        width: 100%;
        padding: 15px;
    }

    p, a, li, label, button, q, td, th, caption, figcaption{
        font-size: 1.2rem;
    }

    .sztori h2{
        font-size: 1.4rem;
    }

    .fright, .fleft{
        float: none;
        width: 100%;
        margin: 10px 0px;
    }

    /* Navigation */
    nav #navtitle{
        font-size: 0.7rem;
    }

    #navid button{
        padding: 3px;
    }

    /* Header */
    .header.index{
        height: 1300px;
    }

    .header h1{
        bottom: auto;
        left: 10px;
        top: 40px;
    }

    .quote, .bemutatkozas{
        left:auto;
        background-color: #ffffffd5;
        bottom:auto;
    }

    .bemutatkozas{
        width: 100%;
        top: 35px;
    }

    .quote{
        bottom: 20px;
        right: 0px;
    }

    /* Footer */
    footer{
        padding: 20px 10px;
    }


    /* ELső oldal */
    textarea#experience{
        height: 200px;
    }

    #formdiv>form{
        padding: 5px;
    }

    /* Második oldal */

    #hajodiv{
        width: 100%;
    }

    /* Harmadik oldal*/
    .foart img{
        margin: 10px 0px;
    }
}

@media (min-width: 768px){

    /* Header */
    .header{
        height: 600px;
    }

    .bemutatkozas{
        left: 0px;
        bottom: auto;
        top: 30px;
        width: 100%;
    }

    header.index .quote{
        width: 350px;
    }

    .quote{
        right: 10px;
    }

    .header h1{
        left: 15px;
    }

    /* */
    table{
        width: 100%;
    }

    .fright, .fleft{
        width: 90%;
        margin: 20px auto;
        float: none;
    }
    
}

@media (min-width: 992px){
    .body{
        width: 95%;
    }
    
    /* Header */
    .header{
        height: 450px;
    }

    .bemutatkozas{
        width: 560px;
        top: auto;
        left: 10px;
        bottom: -50px;
    }

    header.index .quote{
        width: 380px;
        right: 10px;
    }

    .quote{
        right: 150px;
    }

    .header h1{
        left: 60px;
    }

    /* Float */
    .fright{
        float: right;
    }
    
    .fleft{
        float: left;
    }
    
    .fleft ,.fright{
        margin: 0px 20px 20px 20px;
        width: 250px;
    }

    table{
        width: 40%;
    }

    /* Negyedik oldal */
    .kialakimg{
        width: 50%;
        margin: 0px 20px 20px 20px;
    }
}

@media (min-width: 1200px){
    .body{
        width: 90%;
    }

    /* Header */
    .bemutatkozas{
        width: 560px;
        top: auto;
        left: 150px;
        bottom: -50px;
    }

    header.index .quote{
        width: 380px;
        right: 100px;
    }


}

@media (min-width: 1400px){
    .bemutatkozas{
        left: 200px;
    }
    
    .header{
        height: 680px;
    }

    header.index .quote{
        right: 150px;
    }
}


@media print{
    img, .fleft, .fright{
        width: 30%;
    }

    video{
        display: none;
    }

    h1{
        text-shadow: none;
    }
    
    /* Nav */
    #navid{
        display: none;
    }

    /* Header */
    .bemutatkozas, .quote{
        position:static;
        width: 100%;
    }

    .header>h1{
        position: static;
    }

    header.header.index{
        height: 600px;
    }

    .header{
        height: 310px;
    }

    /* Footer */
    footer{
        display: none;
    }
}
